.DashboardContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Inter;
    height: 100%;
}

.Dashboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.Underline {
    text-decoration: underline;
}

.DashboardButtons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 100px);
    justify-items: center;
    gap: 20px;
    padding-top: 20px;
    
    @media (max-width: 420px) {
        grid-template-columns: 1fr;
    }
}

.IndividualButton {
    background-color: #0466C8;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
}

.ButtonImage {
    max-height: 100%;
    max-width: 70%;
    align-items: center;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.ButtonLable {
    color: white;
    font-size: larger;
}