.navigation {
  width: 100%;
  margin-top: -4px;
  }
  
.nav-background {
  background-color: #0466C8;
  display: flex;
  height: auto;
  padding: 20px;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0 44px;
  width: 100%;
  justify-content: space-between;
}

.nav-links a {
  color: white;
  font-family: Inter;
  font-size: larger;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
