.manageOrderContainer {
    height: auto;
    font-size: 1.25rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: inherit;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --grey-color : #cccccc;
    --white-color: #ffffff;
}

h1 {
    text-align: center;
}

.responsive-table-order table {
    table-layout: fixed;
    font-size: 1.25rem;
    border-collapse: collapse;
    border-spacing: 0 1rem;
    width: 90%;
}

.responsive-table-order thead > tr:first-child{
    background-color: inherit;
    font-weight: bold;
}

.responsive-table-order tr:not(:first-child) {
    background-color: var(--white-color);
}

.responsive-table-order tr:not(:last-child):hover {
    background-color: var(--grey-color);
}

.responsive-table-order .border-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid var(--grey-color) ;
    border-right: 0;
}

.responsive-table-order .border-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--grey-color);
    border-left: 0;
}

.responsive-table-order tr td:not(:first-child):not(:last-child) {
    border: 1px solid var(--grey-color);
    border-left: 0;
    border-right: 0;
}

.responsive-table-order td{
    text-align: center;
}

.responsive-table-order td {
    padding: 0.25rem 1rem ;
}

.responsive-table-order img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.selected-status button:hover {
    cursor: pointer;
    background-color: var(--white-color);
}

.selected-status {
    background-color: var(--white-color);
}

.edit-form-order {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.25rem;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selection-container-order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.selection-container-order > select,
.selection-container-order >  input[type="text"],
.selection-container-order >  input[type="date"] {
    width: 80%;
    justify-content: right;
    padding: 0.7rem;
    background-color: var(--white-color);
    border-color: var(--grey-color);
    border-radius: 5px;
    margin-left:0;
    margin-top: 1px;
}

.selection-container-order > label:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20%;
    margin: 0;
}

.saveorcancelbtn {
    border: none;
    border-radius: 5px;
    margin: 1rem;
    width: 12rem;
    background-color: #3e5165;
    color: white;
    align-self: center;
    font-weight: bold;
}

.saveorcancelbtn:hover {
    cursor: pointer;
    background-color: #31404f;
}

.form-actions-order {
    margin: 0 auto;
}

.view-order-details {
    background-color: var(--white-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.back2ListBtn-order:hover {
    background-color: var(--white-color);
}

@media (max-width: 1000px) {
    .responsive-table-order table,
    .responsive-table-order thead,
    .responsive-table-order tbody,
    .responsive-table-order th,
    .responsive-table-order td,
    .responsive-table-order tr {
        display: block;
        width: 100%;
        border: none;
        text-align: center;
    }

    .responsive-table-order tr {
        margin-bottom: 10px;
        padding: 8px;
    }

    .responsive-table-order .border-left,
    .responsive-table-order .border-right {
        border: none;
    }

    .selection-container-order > label:nth-of-type(1) {
        width: 100%;
    }

    .selection-container-order > select,
    .selection-container-order >  input[type="text"],
    .selection-container-order >  input[type="date"]{
        width: 100%;
    }
}


