body{
    background-color: #023E7D;
    font-family: ABeeZee;
}

.ItemList {
    background-color: white;
    width: 64%;
    height: 80vh;
    border-radius: 25px;
    margin-left: 2%;
    padding-top: 12px;
    float: left;
}

.Summary {
    background-color: white;
    width: 30%;
    height: 80vh;
    border-radius: 25px;
    margin-right: 2%;
    float: right;
    padding-top: 12px;
}