.product-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}

.page-title {
  max-width: 100%;
  background-color: #e8e8e8;
  font-size: 20px;
  padding: 20px 30px;
  margin: 0px;
}

.listing-container {
  max-width: 100%;
  display: flex;
  flex-direction: row; 
  gap: 40px;
  margin: 50px 110px;
}

.filterBar {
  width: 300px;
  flex-shrink: 0;
  position: sticky;
}

.filterBar-button {
  display: inline-flex;
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  align-items: center;
}

.filter-icon {
  width: 30px;
  height: 30px;
}

.filterBar::-webkit-scrollbar {
  display: none; 
}

.filter-section {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.filter-section h3,
.categories-section h3 {
  margin-bottom: 10px;
  color: black;
}

.filter-section p {
  color: black;
}

.filter-section input {
  width: 100%;
  margin: 10px 0;
}

.filter-section button {
  background-color: #007bff;
  padding: 10px 16px;
  border-radius: 25px;
  color: white;
  border: 0px solid transparent;
  font-size: 14px;
  align-self: flex-end;
}

.categories-section ul {
  list-style-type: none;
  padding: 0;
}

.categories-section ul li {
  margin: 30px 0;
  cursor: pointer;
  color: black;
}

.categories-section li:hover {
  color: #888;
}

.wrap-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .listing-container {
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .filterBar {
    background-color: white;
    display: none;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    height: 700px;
    padding: 0 30px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow here */
    border-radius: 8px; /* Optional: Add rounded corners */
  }

  .filterBar-close-btn {
    position: absolute;
    top: 630px;
    right: 25px;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    display: block;
    visibility: hidden;
  }

  .filterBar-close-btn.visible {
    visibility: visible;
  }

  .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 380px) {
    .filterBar{
        height: 650px;
        padding: 10px 30px;
    }

    .filterBar-close-btn {
        top: 590px;
    }
}