.slider {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider-image.active {
    opacity: 1;
}









