.SidebarNav {
    display: flex;
    flex-direction: column;
    border-right: 1px;
    border-left: 1px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    max-width: 250px;
    text-align: center;
    flex-grow: 1;
    padding: 10px;
}

.SidebarNav-collapsed {
    background: linear-gradient(#00D4FFFF,lightblue);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    border-radius: 50px;
    font-weight: bolder;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.SidebarNav-collapsed:hover {
    background: linear-gradient(#0000da, #000078);
    color: white;
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.SidebarButton {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-width: 0;
}

.SidebarButton:hover {
    background: linear-gradient(45deg, #00d4ff,#5959ff);
}

